<h1>Edit tweet</h1>

<form action="/tweets/<%= @tweet.id %>" method="POST">
    <input type = "hidden" name = "_method" value = "patch">
  <label>Content:</label>

  <br>
  <input type="textarea" name="tweet[content]" id="content" value = "<%= @tweet.content %>">
  <br>

  <input type="submit" value="Edit Tweet" id="submit">
</form>