<h1>Write a new tweet</h1>

<form action="/tweets" method="POST">
  <label>Content:</label>

  <br>
  <input type="textarea" name="tweet[content]" id="content">
  <br>

  <input type = "hidden" name = "tweet[user_id]" value = <%= @user.id %>

  <input type="submit" value="Create Tweet">
</form>