<%= @tweet.content %>
<br><br>
<a href = "/tweets/<%= @tweet.id %>/edit">Edit Tweet</a><br>

<p>Delete Tweet:</p>
<form method="POST" action="/tweets/<%= @tweet.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete" id="Delete Tweet">
</form>
