<h1>Create Your Fwitter Account</h1>
<form action="/tweets" method="POST">
  username:
  <input type="text" name="username">
  email:
  <input type="text" name="email">
  password:
  <input type="password" name="password">
  <input type="submit" value="create new account">
</form>
