<html>
    <head>
        <title>Fwitter</title>
    </head>

    <body>
        <h1>Welcome to Fwitter</h1>

        <a href = "/login">Log in</a><br>
        Don't have an account?  <a href = "/signup">Sign up here!</a>
    </body>


</html>
